header{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-image: url("../../images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 24px 0;

    backdrop-filter: blur(10px);
}

.header__menu{
    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 0 50px;

    list-style: none;

}

.header__logo{
    padding: 0 30px;

    font-family: var(--plus-jakarta-sans);
    color: #fff;

    user-select: none;
}
.header__menu-mobile{
    display: none;
    list-style: none;
    margin: 0 24px;
}

.header__menu a{
    font-family: var(--plus-jakarta-sans);
    text-decoration: none;
    color: #fff;

    padding: 8px 20px;
    border-radius: 46px;


}
.header__menu a:hover{
    background-color: rgb(0, 0, 0);
}

.header__menu-mobile li{
    padding: 5px;
    display: flex;
    transition: ease-in-out 0.2s;
}

.header__menu-mobile li:hover{
    background-color: rgba(255,255,255,0.5);
}
.header__menu-mobile:active{
    background-color: rgba(255,255,255,0.5);
}


.hero{
    /*border: solid red 2px;*/
    padding: 60px 0;
    height: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.hero h1{
    margin: 0 auto;
    font-family: var(--fraunces);
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -1px -1px 15px rgba(0,0,0,0.38);
}

@keyframes arrow_animation {
    from {padding: 0 0 0 0;}
    to {padding: 30px 0 0 0;}
}
.hero img{
    animation-name: arrow_animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}
@media screen and (max-width: 750px) {
    .hero{
        padding: 90px 0;
        gap: 70px;
    }
    .hero h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 680px){
    .header__menu{
        display: none;
    }
    .header__menu-mobile{
        display: block;
    }
}